.ant-layout-content {
  /* minus header and footer height */
  min-height: calc(100vh - 64px - 69px);
}

.app__content {
  margin: 1rem 1rem 1rem 1rem;
}

@media screen and (min-width: 500px) {
  .app__content {
    margin:  1rem 2rem 1rem 2rem;
  }
}

@media screen and (min-width: 700px) {
  .app__content {
    margin: 3.125rem 3.125rem 3.125rem 3.125rem;
  }
}

.app__filter {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.cards {
  display: flex;
  margin: 0.5rem 6.5rem 0.5rem 0; /* left gutter size offset */
  width: auto;
}

.cards__card {
  padding-left: 0.5rem; /* gutter size */
  background-clip: padding-box;
}

.footer {
  text-align: center;
}

.header {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sider__toggle {
  background-color: #323232 !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  right: -50px;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.sider {
  background-color: #323232;
  min-height: 100vh;
  padding: 2rem 0;
  position: absolute;
  transform: translateX(0);
  z-index: 10;
}

.sider.sider--hidden {
  transform: translateX(-100%);
}

@media screen and (min-width: 600px) {
  .sider,
  .sider.sider--hidden {
    position: relative;
    transform: translateX(0);
  }

  .sider__toggle {
    display: none;
  }
}

.sider__button {
  margin: 0 1rem;
}

.sider__item {
  padding: 0 0 3rem 0;
}

.sider__list {
  list-style: none;
  padding: 0;
}

.sider__list__item {
  color: #dddddd;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.sider__list__item--active,
.sider__list__item:hover {
  background-color: #505050;
  color: #ffffff;
}

.sider__list__item__counter {
  align-items: center;
  border-radius: 50%;
  color: #8c8c8c;
  display: flex;
  font-size: 0.75rem;
  justify-content: center;
  line-height: 1em;
  width: 20px;
  height: 20px;
}

.sider__list__item--active .sider__list__item__counter {
  background-color: #c58300;
  color: #ffffff;
}

.sider__title {
  color: #979797;
  font-size: 0.75rem;
  margin: 0 1rem 1rem 1rem;
}

.timeline {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  bottom: 0;
  overflow: hidden;
}

.timeline__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline__list__item {
  background-color: #585858;
  margin-bottom: 2px;
  width: 100%;
}

.timeline__list__item--1 {
  height: 2px;
}

.timeline__list__item--2 {
  height: 3px;
}

.timeline__list__item--3 {
  height: 4px;
}

.timeline__list__item--4 {
  height: 5px;
}

.timeline__list__item--5 {
  height: 6px;
}

.timeline__list__item--6 {
  height: 7px;
}

.timeline__list__item--7 {
  height: 8px;
}

.timeline__list__item--8 {
  height: 9px;
}

.timeline__list__item--9 {
  height: 10px;
}

.timeline__list__item--10 {
  height: 11px;
}