.ant-layout-content {
  /* minus header and footer height */
  min-height: calc(100vh - 64px - 69px);
}

.app__content {
  margin: 1rem;
}

@media screen and (min-width: 500px) {
  .app__content {
    margin: 1rem 2rem;
  }
}

@media screen and (min-width: 700px) {
  .app__content {
    margin: 1rem 3.125rem 3.125rem 3.125rem;
  }
}

.app__filter {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.cards {
  display: flex;
  margin: 0.5rem 0.5rem 0.5rem 0; /* left gutter size offset */
  width: auto;
}

.cards__card {
  padding-left: 0.5rem; /* gutter size */
  background-clip: padding-box;
}

.footer {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}