.app {
  display: flex;
  min-height: 100vh;
}

.aside {
  background-color: #21242d;
  flex-grow: 1;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 33rem;
}

.tab {
  margin: 0.5rem 0;
}

.tabs {
  margin: 3rem 0 0 0;
  width: 100%;
}
